
<router-outlet></router-outlet>
<div *ngIf="isAboutToStart">
<mat-card *ngFor="let survey of surveysInDB" class="mat-card">
    <mat-card-header>
      <mat-card-title>{{ survey.data().surveyTitle }}</mat-card-title>
      <mat-card-subtitle>Creada hace: {{ ago(survey.data().created.toDate()) }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{ survey.data().surveyDescription }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="onOpenSurvey(survey)"
      routerLink="/start-survey"
       color="accent">Comenzar Encuesta</button>
    </mat-card-actions>
  </mat-card>
  <div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner mode="indeterminate" color="accent"></mat-spinner>
  </div>
</div>
