  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .radio-button {
    margin: 5px;
  }

  .question-orientation{
    margin: auto;
    width: 80%;
    padding: 60px 70px;
    text-align: center;
}

.satisfaction-Icon{
  font-size: 800%;
}

.action-button{
  margin-top: 60px;
}