.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cehck-box-group {
  display: flex;
  flex-direction: column;
  margin: 20px 10px;
  font-size: 1.5em;
}

.question-orientation{
  margin: auto;
  width: 100%;
  padding: 15% 70px 70px 0px;
  text-align: center;
  font-size: 150%;
}

.open-text-area{
  width: 80%;
}

.responsive {
  width: 15%;
  height: auto;
  max-height: 300px;
  max-width: 300px;
}

.button-satisfaction{
  margin-right: 40px;
}

.next-button{
  margin-top: 15px;
  font-size: 1.1em;
  height: 60px;
}

.thanks-message{
  font-size: 3.1em; 
  text-align: center;
  align-items: center;
  justify-content: center;
}
