<div class="loading-shade" *ngIf="isLoadingResults">
    <mat-spinner mode="indeterminate"></mat-spinner>
</div>
<span *ngIf="exist" class="question-orientation">
  <div>
      <h1>{{ getQuestionNumber() }}.- &nbsp; {{ getQuestionText() }}</h1>
    </div>
    <div *ngIf="getQuestionOptions().length > 0 && getInputType() === 'Elección'">
        <mat-radio-group class="radio-group" [(ngModel)]="optionSelected">
            <mat-radio-button class="radio-button" *ngFor="let option of getQuestionOptions()" [value]="option">
              {{option}}
            </mat-radio-button>
          </mat-radio-group>    
    </div>
    <div *ngIf="getQuestionOptions().length > 0 && getInputType() === 'Opción Multitple'">
          <mat-checkbox *ngIf="getQuestionOptions()[0]" 
          [(ngModel)]="a">{{getQuestionOptions()[0]}}</mat-checkbox><br>
          <mat-checkbox *ngIf="getQuestionOptions()[1]"
           [(ngModel)]="b">{{getQuestionOptions()[1]}}</mat-checkbox><br>
          <mat-checkbox *ngIf="getQuestionOptions()[2]"
           [(ngModel)]="c">{{getQuestionOptions()[2]}}</mat-checkbox><br>
          <mat-checkbox *ngIf="getQuestionOptions()[3]"
           [(ngModel)]="d">{{getQuestionOptions()[3]}}</mat-checkbox><br>
          <mat-checkbox *ngIf="getQuestionOptions()[4]"
           [(ngModel)]="e">{{getQuestionOptions()[4]}}</mat-checkbox><br>
          <mat-checkbox *ngIf="getQuestionOptions()[5]"
           [(ngModel)]="f">{{getQuestionOptions()[5]}}</mat-checkbox><br>
    </div>
    <div *ngIf="getInputType() === 'Satisfacción'">
      <table class="question-orientation">
        <tr>
          <td>
              <button mat-icon-button (click)="nextQuestion()">
                  <mat-icon class="satisfaction-Icon" style="color: red">sentiment_very_dissatisfied</mat-icon>
                </button>
          </td>
          <td>
              <button class="button-contaner" mat-icon-button (click)="nextQuestion()">
                  <mat-icon class="satisfaction-Icon" style="color: orange">sentiment_dissatisfied</mat-icon>
                </button>
          </td>
          <td>
              <button lass="button-contaner" mat-icon-button (click)="nextQuestion()">
                  <mat-icon class="satisfaction-Icon" style="color: yellow">sentiment_satisfied</mat-icon>
                </button>
          </td>
          <td>
              <button lass="button-contaner" mat-icon-button (click)="nextQuestion()">
                  <mat-icon class="satisfaction-Icon" style="color: green">mood</mat-icon>
                </button>
          </td>
        </tr>
      </table>
    </div>
    <div *ngIf="getInputType() === 'Abierta'">
        <mat-form-field>
            <textarea matInput placeholder="Deja un comentario"></textarea>
          </mat-form-field>
    </div>
    <div class="action-button">
        <button mat-stroked-button (click)="nextQuestion()" *ngIf="getInputType() != 'Satisfacción'"
        [color]="myColor">{{messageBtn}}</button>
      </div>
</span>

<h1 *ngIf="!exist">{{existMessage}}</h1>
