  .loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .radio-button {
    margin: 5px;
  }

  .question-orientation{
    margin: auto;
    width: 100%;
    padding: 15% 70px 70px 0px;
    text-align: center;
    font-size: 150%;
}

.satisfaction-Icon{
  font-size: 1200%;
}

.action-button{
  margin-top: 30px;
}

.open-text-area{
  width: 80%;
}
 
table{
  padding-top: 15%;
   width: 100%;
   padding-right: 15%;
  }

  .responsive {
    width: 100%;
    height: auto;
  }